/*
* {
    color: #252422;
}

.btn-red {
  background-color: #E5625E;
}

.jumbotron {
    margin-top: 1vh
}
.card{
    margin-top:1vh;
    margin-bottom: 1vh;
}
*/

.carousel-caption{
    color: black;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
}
