
/*Color Scheme Definitions*/
.red {
    color: #F05D5E;
}
.light-blue{
    color: #E7ECEF;
}
.blue-green{
    color: #1AC4C7;
}
.font-black{
    color: #272932;
}
.pale-brown{
    color: #D8A47F;
}

/*Sets the color of font on all pages to color-scheme black*/
* {
    color: #272932;
}

.bg-teal{
    background-color: #1AC4C7; 
}
.nav-bg{
    background-color:  #E7ECEF;
}
.btn-outline-light{
    color: #E7ECEF;
    border-color: #E7ECEF;
}

.btn-outline-teal{
    color: #1AC4C7;
    border-color: #1AC4C7;
}

.btn-outline-teal:hover {
  color: #E7ECEF;
  background-color: #1AC4C7;
  border-color: #1AC4C7;
}

.v-center{
    margin-top: 35vh;
}

.carousel-caption {
  position: absolute;
  right: 15%;
/*  bottom: 40%;*/
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  height: 90%
}

div.carousel-caption * {
    color: #E7ECEF;
}
div.carousel-caption caption-header{
    top: 10%;
}
.w-100{
    width: 100%;
    height: 75vh;
}

.grandstand-font{
/*    font-family: 'Grandstander', cursive;*/
font-family: 'Londrina Outline', cursive;
    font-size: 10vw
}

a {
  color: #1AC4C7;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #D8A47F;
  text-decoration: underline;
}


.caption-description {
    margin-bottom: 5%
}