
/*Color Scheme Definitions*/
.red {
    color: #F05D5E;
}
.light-blue{
    color: #E7ECEF;
}
.blue-green{
    color: #1AC4C7;
}
.font-black{
    color: #272932;
}
.pale-brown{
    color: #D8A47F;
}

/*Sets the color of font on all pages to color-scheme black*/
* {
    color: #272932;
}

.bg-teal{
    background-color: #1AC4C7; 
}
.nav-bg{
    background-color:  #E7ECEF;
}

.btn-teal{
    background-color: #1AC4C7;
    border-color: #1AC4C7; 
    color:#E7ECEF; 
}
.btn-outline-light{
    color: #E7ECEF;
    border-color: #E7ECEF;
}

.btn-outline-teal{
    color: #1AC4C7;
    border-color: #1AC4C7;
}

.btn-outline-teal:hover {
  color: #E7ECEF;
  background-color: #1AC4C7;
  border-color: #1AC4C7;
}

.v-center{
    margin-top: 30vh;
}

.w-100{
    width: 100%;
    height: 75vh;
}

.intro-font{
    font-family: 'Londrina Outline', cursive;
    font-size: 10vw
}

a {
  color: #1AC4C7;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #D8A47F;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .container {
      margin:0;
    }
}

.carousel-position{
/*    height: 100%;*/
    padding-top: 8vh;
}
carousel-inner{
    height: 100%;
}

/*
@media (max-width: 600px){
    .carousel-position {
      height: 75vh;
      margin-top: 
    }
}
*/

.index-bg{
    background-color: #ddd;
    background-image: url("../images/mathBoard2.jpg");
    background-size: cover;
    
}

.carousel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%
}

.berrio-font{
    font-family: 'Barrio', cursive;
}

.slideshow{
    background-color: 	hsl(186, 40%, 65%);
    height: 500px;
    width: 100%
}

@media only screen and (max-width: 800px){
    .slideshow{
        height: 50vh;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
}

.status{
    height: 8%;
    background-color: hsl(57, 97%, 61%);
    text-align: right;
    padding-right: 1%;
}

.status-current{
    text-align: left;
    width: 100%;
    background-color: greenyellow;
}
.slide-header{
    height: 15%;
    background-color: 	hsl(186, 40%, 80%);
    position: relative;
    margin: auto;
}
.slide-time{
    height: 10%;
    background-color:   hsl(186, 40%, 75%);
    position: relative;
}

.time-left{
    float: left;
    display: inline;
    width: 45%;
    /* position: relative; */
    
}
.time-right{
    float: right;
    display: inline;
    width: 45%;
    
}
.time{
    font-family: 'Roboto', sans-serif;    
    margin: 5px;
    padding: 10px;    

}

#time-right-text{
    text-align: right;    
    margin-right: 5px;
    
}

#time-left-text{
    text-align: left;
    margin-left: 5px;
}

.title{
    font-family: 'Grandstander', cursive;
    text-transform: uppercase;
    /* font-size: 55px; */
    text-align: center;
    padding: 10px;
    /* top: 50%; */

    font-size: 3.5rem;
}

.description{
    font-family: 'Roboto', sans-serif;
    /* padding-top: 2% */
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
    top: 50%;

}



