
/*Color Scheme Definitions*/
.red {
    color: #F05D5E;
}
.light-blue{
    color: #E7ECEF;
}
.blue-green{
    color: #1AC4C7;
}
.font-black{
    color: #272932;
}
.pale-brown{
    color: #D8A47F;
}

/*Sets the color of font on all pages to color-scheme black*/
* {
    color: #272932;
}

/*Sets the background to teal of color scheme*/
.bg-teal{
    background-color: #1AC4C7; 
}

/*Changes the background color of the navbar*/
.nav-bg{
    background-color:  #E7ECEF;
}

/*Buttons using above color scheme colors*/
.btn-teal{
    background-color: #1AC4C7;
    border-color: #1AC4C7; 
    color:#E7ECEF; 
}
.btn-outline-light{
    color: #E7ECEF;
    border-color: #E7ECEF;
}

.btn-outline-teal{
    color: #1AC4C7;
    border-color: #1AC4C7;
}

.btn-outline-teal:hover {
  color: #E7ECEF;
  background-color: #1AC4C7;
  border-color: #1AC4C7;
}

/*Centers content vertically on certain pages*/
.v-center{
    margin-top: 10vh;
}

/*sets font for sign-in intro page*/
.intro-font{
    font-family: 'Londrina Outline', cursive;
    font-size: 10vw
}

/*Changes color of links to match color scheme*/
a {
  color: #FFAA5A;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #D8A47F;
  text-decoration: underline;
}

/*sets margins for small screens with container*/
@media screen and (max-width: 800px) {
    .container {
      margin:0;
    }
}

/*Changes the position of the carousel*/
.carousel-position{
    height: 100%;
    padding-top: 12vh;
}
carousel-inner{
    height: 800px;
}

/*Sets the background of the index page*/
.index-bg-1{
    background-color: #ddd;
    background-image: url("./mathBoard2.jpg");
    background-size: cover;
    
}

.index-bg-2{
    background-color: #ddd;
    background-image: url("./mathBoard3.jpg");
    background-size: cover;
    
}

/*Adds a shadow and max-width to the carousel*/
.carousel{
    max-width: 800px;
    margin: auto
}
.carousel-box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Changes font to Berrio*/
.berrio-font{
    font-family: 'Barrio', cursive;
}

/*Sets background for carousel slide*/
.slideshow{
    background-color: 	hsl(186, 40%, 65%);
    height: 650px;
    width: 100%
}

/*Sets aspects of carousel slide when screen is a certain size*/
@media only screen and (max-width: 800px){
    .slideshow{
        height: 50vh;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

/*Sets characteristics of sections of carousel slide*/
.status{
    height: 8%;
    background-color: hsl(57, 97%, 61%);
    text-align: right;
    padding-right: 1%;
}

.status-current{
    text-align: left;
    width: 100%;
    background-color: yellow;
    /* background-color: greenyellow; */
    font-size: 1.4rem;
}

.slide-header{
    height: 11%;
    background-color: 	hsl(186, 40%, 80%);
    position: relative;
    margin: auto;
}
.slide-time{
    height: 7%;
    background-color:   hsl(186, 40%, 75%);
    position: relative;
}

.time-left{
    float: left;
    display: inline;
    width: 45%;
}
.time-right{
    float: right;
    display: inline;
    width: 45%;
    
}
.time{
    font-family: 'Roboto', sans-serif;    
    margin: 5px;
    padding: 7px;    
}

#time-right-text{
    text-align: right;    
    margin-right: 5px;
}

#time-left-text{
    text-align: left;
    margin-left: 5px;
}

.title{
    font-family: 'Grandstander', cursive;
    text-transform: uppercase;
    /* font-size: 55px; */
    text-align: center;
    padding: 7px;
    /* top: 50%; */
    font-size: 3.5rem;
}

.description{
    font-family: 'Roboto', sans-serif;
    /* padding-top: 2% */
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
    top: 40%;

}



